apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: GET
      manageAlerts: true
      prometheusVersion: 2.47.0
      httpHeaderName1: Authorization
    secureJsonData:
      authorizationHeader: "Bearer ${PROMETHEUS_TOKEN}"
